/* estilio dos cards */
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    place-items: center;
    color: #3B0944;
}
/* estilo do header */
.main {
    display: grid;
    place-items: center;
    margin: 0px;
    padding: 0px;
    background-color: #F7F7F7;
    color: #3B0944;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}

li, a {
    font-size: 18px;
    color: #F7F7F7;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 24px;
    background-color: #5F1854;
}

.logotipo {
    color: #F7F7F7;
    font-weight: 900;
    font-size: 20px;
}

.nav-links li {
    display: inline-block;
    font-weight: 600;
    padding: 0px 20px
}

    .nav-links li a:hover {
        color: #1ABB9C;
        border-bottom: 2px solid #1ABB9C;
    }

@media(max-width:800px) {
    li, a {
        font-size: 12px;
    }
}

/* estilo divs */

.div3 {
    grid-column: span 2 / span 2;
}

div h2 {
    color: #1ABB9C;
    margin-bottom: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
/* estilo home*/
.div1 h1 {
    color: #5F1854;
    font-weight: bold;
    font-family: 'Segoe UI'
}

.div1 h4 {
    color: #1ABB9C;
    font-weight: 600;
    font-family: 'Segoe UI'
}

.div2-img {
    display: grid;
    place-items: center;
}

.imgProfile {
    width: 110%;
    border-radius: 100%;
}

.home {
    margin: 60px;
    width: 76%;
    display: grid;
}

p {
    font-family: 'Segoe UI';
    font-size: 18px;
}

/* estilo profissional */
.parent-prof {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    margin: 70px;
    width: 80%;
    padding: 40px 24px;
    place-items: center;
    background-color: #5F1854;
    color: #F7F7F7;
    border-radius: 8px;
}

    .parent-prof div1 h1 {
        font-weight: 600;
        color: #1ABB9C;
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

    .parent-prof div1 h5 {
        font-weight: 600;
        color: #1ABB9C;
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

.parent div {
    padding: 16px;
}


/* habilidades tecnicas */
.habilidades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0fr);
    gap: 8px;
    margin: 60px;
    width: 80%;
    padding: 40px 24px;
    place-items: center;
}

    .habilidades .div1 {
        grid-column: span 2 / span 2;
    }

    .habilidades .div2 {
        grid-row-start: 2;
    }

    .habilidades .div3 {
        grid-row-start: 2;
    }

    .habilidades div1 h1 {
        font-weight: 600;
        color: #1ABB9C;
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

    .habilidades h5 {
        font-weight: 600;
        color: #5F1854;
    }

    .habilidades h4 {
        color: #1ABB9C;
        font-weight: 600;
    }

.card-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

    .card-imgs img {
        width: 70%;
    }

.div-img {
    display: grid;
    place-items: center;
}

    .div-img p {
        color: #3B0944;
        font-size: 16px;
    }
/* rodapé */
footer {
    background-color: #3B0944;
    color: #F7F7F7;
    padding: 24px 24px;
}

.img-footer {
    display: flex;
    justify-content: left;
    gap: 8px;
}

.parent-footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

.parent-footer p {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
}



