@page "/curriculoFabrine"

<PageTitle> Curriculo Fabrine </PageTitle>

<header>
    <span class="logotipo"> Dev </span>
    <nav>
        <ul class="nav-links">
            <li> <a href="#home"> Home </a></li>
            <li> <a href="#profissional"> Profissional </a></li>
            <li> <a href="#habilidades"> Habilidades </a></li>
            <li> <a href="#contato"> Contato </a></li>
        </ul>
    </nav>

</header>

<div class="main">
    <div id="home" class="home">
        <div class="parent">
            <div class="div1">
                <h1> Fabrine Vinente Velame </h1>
                <h4> Estudante de tecnologia </h4>
                <p> Aspirante a profissional de tecnologia criativa, estou no último ano de um curso técnico em Informática integrado ao ensino médio. Dedicada com forte interesse em Design UX/UI, na criação de protótipos no Figma, e desenvolvimento web com as tecnologias HTML, CSS e JS. </p>
                <p> Idade: 17 | Idioma: Português BR | Local: Ji-Paraná, RO </p>
            </div>
            <div class="div2-img">

                <img class="imgProfile" src="perfilFab.png" />

            </div>
        </div>
    </div>

    <div id="profissional" class="parent-prof">

        <div class="div1">
            <h2> Educação </h2>
            <p>
                - Ensino Fundamental (Gonçalves Dias, GD) <br>
                (2019 - 2022)
            </p>
            <p>
                - Ensino Médio em andamento (IFRO/ Campus Ji-Paraná) <br>
                (2023-...)
            </p>
            <p>
                - Mini Curso Introdução ao Figma (IFRO/ Campus Ji-Paraná) <br>
                (2023-2023)
            </p>
            <p>
                - Mini Curso Introdução ao Git e GitHub (IFRO/ Campus Ji-Paraná) <br>
                (2023-2023)
            </p>
           
        </div>
        <div class="div2">
            <h2> Experiência </h2>
            <h5> - PROJETO SISGHA MOBILE, IFRO/ Campus Ji-Paraná — UX/UI DESIGN  </h5>
            <p>
                Desenvolvi a interface gráfica de um sistema mobile para o gerenciamento de Horário e calendários acadêmicos
                utilizando o Figma, garantindo uma experiência responsiva ao usuário migrar do sistema web para mobile.
            </p>
            <h5> - NBS TELECOM, Ji-Paraná — Estágio </h5>
            <p>
                Desenvolvi sistemas com as funcionalidades CRUD (create, read, update e delete) para um banco de dados de
                gerenciamento de pessoas com as tecnologias em JS, HTML, CSS e PHP.
            </p>
        </div>


    </div>
    <div class="habilidades">

        <div class="div1">
            <h2> Habilidades Técnicas </h2>
        </div>

        <div class="div2">
            <h4> Soft Skils </h4>
            <h5> Habilidades comportamentais </h5>
            <p>
                - Comunicação <br />
                - Trabalho em equipe <br />
                - Liderança <br />
                - Criatividade <br />
                - Resolução de problemas <br />
                - Responsabilidade  <br />
                - Capacidade de organização <br />
                - Hábil pelo aprendizado constante!
            </p>
        </div>
        <div class="div3">
            <h4> Hard Skils </h4>
            <h5> Habilidades Técnicas </h5>

            <div class="card-imgs">
                <div class="div-img">
                    <img src="html.png" alt="simbolo html" />
                    <p> Intermediário </p>
                </div>
                <div class="div-img">
                    <img src="css.png" alt="simbolo html" />
                    <p> Intermediário </p>
                </div>
                <div class="div-img">
                    <img src="linguagemC.png" alt="simbolo html" />
                    <p> Intermediário </p>
                </div>
                <div class="div-img">
                    <img src="vscode.png" alt="simbolo html" />
                    <p> Básico </p>
                </div>
                <div class="div-img">
                    <img src="figma.png" alt="simbolo html" />
                    <p> Avançado </p>
                </div>
                <div class="div-img">
                    <img src="github.png" alt="simbolo html" />
                    <p> Intermediário </p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="parent-footer">
    <div class="img-footer">
        <img src="whatsapp-fill.png" />
        <p> 69 9986-1661 </p>
    </div>
    <div class="img-footer">
        <img src="linkedin.png" />
        <p> Fabrine Vinente </p>
    </div>
    <div class="img-footer">
        <img src="email.png" />
        <p> fabrine.velame@gmail.com</p>
    </div>
    <p>&copy; 2025 Fabrine V.V. - Todos os direitos reservados.</p>
</footer>


@code {

}
